<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<runtime>
		<gcServer enabled="true"/>
	</runtime>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<urlCompression doStaticCompression="false" doDynamicCompression="false" />
		</system.webServer>
	</location>
</configuration>